

.AppBarMenu {
    flexGrow: 1;

    .MuiAppBar-root {
        background-color: #9C9094;
    }

    &__title {
        flex-grow: 1;
        font-size: 24px!important;
        font-weight: bold!important
    }

     button {
        margin-right: 16px;
    }

}